streamlit
pandas
numpy
plotly
requests
prophet
scikit-learn
xgboost
deap
scikit-optimize
textblob
tensorflow
joblib
transformers
keras-tuner
matplotlibstreamlit
torch
torch-geometric
torchdiffeq
